*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
  border-radius: 10px;
}

.grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.grid > button:focus {
  background-color: rgba(255, 255, 255, .9);
}

.two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 10px;
}

.output .previous {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current {
  color: blue;
  font-size: 2.5rem;
}